.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

button {
  margin-left: 5px;
  border: none;
}

button:hover {
  background-color: rgba(236,41,22,0.73);
}

ul li {
  padding: 2px 5px;
}

.error {
  border: 1px solid red;
}

.error-message {
  color: red
}

.active-filter {
  background-color: cornflowerblue;
}
.is-done {
  opacity: 0.5;
}